---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/ui/Container.astro';
import { getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Section from '../components/ui/Section.astro';
import ContentList from '../components/shared/ContentList.astro';
import { getCollection } from 'astro:content';

const siteConfig = await getEntry('site', 'home');

if (!siteConfig) {
  throw new Error('Site configuration not found');
}

const site: CollectionEntry<'site'>['data'] = siteConfig.data;

const projects = await getCollection('projects');
const featuredProjects = projects
  .filter((project: CollectionEntry<'projects'>) => project.data.featured)
  .slice(0, 3);
---

<BaseLayout title={`${site.name} - Portfolio`} description={site.introduction}>
  <Container>
    <Section class='hero'>
      <h1>{site.name}</h1>
      <p class='subtitle'>{site.title}</p>
      <!-- <p class='subtitle'>{site.introduction}</p> -->

      {site.aboutMe.map((paragraph) => <p class='paragraph'>{paragraph}</p>)}

      {
        site.socialLinks && (
          <div class='social-links'>
            {site.socialLinks.map(({ platform, url }) => (
              <a href={url} target='_blank' rel='noopener noreferrer'>
                {platform}
              </a>
            ))}
          </div>
        )
      }
    </Section>

    <Section class='section'>
      <div class='section-header'>
        <h2>{site.sections.projects.title}</h2>
        <a href='/projects'>{site.sections.projects.viewAllText}</a>
      </div>
      <ContentList>
        {
          featuredProjects.map((project) => (
            <article>
              <div class='title-row'>
                <p class='subtitle'>{project.data.title}</p>
              </div>
              <p class='muted-text'>{project.data.description}</p>
              {project.data.techs && (
                <div class='tags'>
                  {project.data.techs.map((tech) => (
                    <span>{tech}</span>
                  ))}
                </div>
              )}

              {project.data.links && (
                <div class='project-links'>
                  {project.data.links.map((link) => (
                    <span>
                      <a href={link.url}>{link.name}</a>
                      {link.name === 'Github' ? (
                        <i class='fa-brands fa-github' />
                      ) : (
                        <i class='fa-solid fa-arrow-up-right-from-square' />
                      )}
                    </span>
                  ))}
                </div>
              )}
            </article>
          ))
        }
      </ContentList>
    </Section>
  </Container>
</BaseLayout>

<style>
  main {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .hero {
    padding: 4rem 0;
  }

  .introduction {
    margin: 1.5rem 0;
    opacity: 0.9;
  }

  .section {
    margin: 4rem 0;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    /* opacity: 0.7; */
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    font-size: var(--text-sm);
  }

  .company-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .company-logo {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }

  time {
    font-size: var(--text-xs);
    opacity: 0.5;
    white-space: nowrap;
  }

  .tags {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }

  .tags span {
    font-size: var(--text-xs);
    opacity: 0.5;
    background-color: var(--border-color);
    padding: 4px 10px;
    border-radius: 6px;
  }

  .project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .project-links span {
    font-size: var(--text-sm);
    background-color: var(--border-color);
    opacity: 0.7;
    padding: 5px 15px;
  }

  .project-links span:hover {
    opacity: 1;
  }

  .social-links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    opacity: 0.7;
    font-size: var(--text-sm);
  }

  @media (max-width: 640px) {
    main {
      padding: 1rem 0;
    }

    .hero {
      padding: 3rem 0;
    }

    .container {
      padding: 0 1rem;
    }
  }
</style>
