---
interface Props {
  title: string;
  description?: string;
  url: string;
  date?: Date;
  tags?: string[];
}

const { title, description, url, date, tags } = Astro.props;
import { formatDate } from '../../utils/date';
---

<article>
  <div class='title-row'>
    <a href={url}>{title}</a>
    {date && <time datetime={date.toISOString()}>{formatDate(date)}</time>}
  </div>
  <p class='muted-text'>{description}</p>
  {
    tags && (
      <div class='tags'>
        {tags.map((tag) => (
          <span>{tag}</span>
        ))}
      </div>
    )
  }
</article>

<style>
  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .title-row a {
    flex: 2;
    font-size: var(--text-xl);
    font-weight: 400;
  }

  .title-row a:hover {
    color: var(--link-color);
  }

  .title-row time {
    flex: 1;
    white-space: nowrap;
    text-align: right;
  }

  .tags {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }

  .tags span {
    opacity: 0.5;
  }
</style>
